    *{
  margin:0;
  padding: 0;
    box-sizing: border-box;

}
:root{

  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed:0.75s;
}
body{
  background-color: #0d0016;
}

/* Nav bar */
 nav{
    display: flex;
  justify-content: space-between;
  align-items: center;
   position:fixed;
   margin-top: 0;
   top:0;
   left:0; 
   font-size: 1.5em;
   width: 100%;
   height:50px;
   background-color: rgba(0, 0, 0, 0);
   color: white;
   transition: 0.6s;

 }
.onHover:hover{
    background-color: #7b337d;
    opacity: 0.8;
  
}

nav ul{
  list-style: none;
  display: flex;
  margin-left: 100px;
 
  padding: 5px 5px;
font-family: 'Roboto', sans-serif;

}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  padding: 5px 15px;
  font-weight: bold;
  transition: 0.3s;
  color: white;
}
nav ul li a:hover{
  background-color: #561759;
  border-radius: 10px;
  
}

nav .logo {
  padding: 5px 20px;
  text-transform: uppercase;
  float: left;
  font-family: 'JetBrains Mono', monospace;
 

}
nav .logo a{
    text-decoration: none;
    color: white;
  --c: #561759;
  --h: 1.2em;
  line-height: var(--h);  
  overflow: hidden;
  text-shadow: 
    0 calc(-1 * var(--_t, 0em)) var(--c), 
    0 calc(var(--h) - var(--_t, 0em)) transparent;
  background: 
    linear-gradient(var(--c) 0 0) no-repeat 
    calc(200% - var(--_p, 0%)) 100% / 200% var(--_p, .08em);
  transition: .3s var(--_s, 0s), background-position .3s calc(.3s - var(--_s, 0s));
}
nav .logo a:hover{
  --_t: var(--h);
  --_p: 100%;
  --_s: .3s
}
nav .logo .logo_img img{
  width:15px;
  height: 15px;
}


.changeColor{
  background-color: #fff;
  box-shadow: 0 2px;
  opacity: 0.9;
  height: 45px;
}
.changeColor a{
  color: #000;
}
.changeColor .logo_text{
    color: #000;

}


.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  
}

.content button{
  padding: 6px 40px;
  border: 2px solid #8ec6fb;
  background: none;
  margin-top: 10px;
  cursor: pointer;
  color:#c8dff4;
  transition: all 0.25s;
  text-align: center;
   
  
  
}
.content button:hover{
  border-color: #ff852e;
  color:  #42a4ff;
  box-shadow: 0 0.5em 0.5em -0.4em  #ff852e;;
   transform: translateY(-0.25em);
  border-radius: 10px;
}


.main{
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  overflow: hidden;
  min-height: 100vh;
}
.video_bg{
  background-attachment: scroll;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  filter: brightness(75%);
  
}

.content h1{
  
  font-size: 60px;
  text-align: center;
  --c: background-color:  #7b337d;
  color: #F0F8FF;
  font-family: lucida sans typewriter;
  font-weight: bold;
  --c: white; 
  --b: .1em;    
  --d: 20px;   
  --_s: calc(var(--d) + var(--b));
  border: 0px solid #BABDCD;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d)  bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path: 
    polygon(
     var(--d) 0%, 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.5s;
}
.content h1:hover{
   transform: translate(0,0);
  clip-path: 
    polygon(
     0% var(--d), 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)), 
     calc(100% - var(--d)) 100%, 
     0% 100%
   );
}
.Container{
 /* background-image: url("/images/background.jpg"); */
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
  text-align: justify;
  margin: 60px 80px;
  font-family: Roboto;
}
 h2{
  font-size: 20px;
  text-align: center;
  color: #F0F8FF;
   padding: 20px;
  font-family: lucida sans typewriter;
    background:
    radial-gradient(circle 30px at 50% 75%, #fff 95%, #000),
    radial-gradient(circle 30px at 50% 75%, #BABDCD 95%, #0000),
    #000;
  -webkit-background-clip: text,padding-box,text;
          background-clip: text,padding-box,text;
  background-size: 100% 200%;
  background-position: top;
  background-repeat: repeat-x;
  transition: 0.3s,background-position 0.3s 0.3s;
}
 h2:hover{
    background-size: 15% 200%;
  background-position: bottom;
  transition: 0.3s,background-size 0.3s 0.3s;
}

@media (min-aspect-ratio: 16/9) {
    .video_bg {
        width:100%;
        height: auto;
    }
}
::-webkit-scrollbar
{
  width: 7px;
}
::-webkit-scrollbar-thumb
{
  background: linear-gradient(transparent, #30ff00);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover
{
  background: linear-gradient(transparent, #00c6ff);
  border-radius: 6px;
}

.model{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.model h1{
  font-size: 1em;
}
iframe{
  border: 5px solid ;
  border-radius: 10px;
}
#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}
 button{
  border-radius: 4px;
  background-color: #7b337d;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 18px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
#discoverbutton button{
  text-align: center;
}

 .readmore{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

 .readmore:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

 .readmore:hover{
  padding-right: 24px;
  padding-left: 14px;
}

 .readmore:hover:after {
  opacity: 1;
  right: 10px;
}


.content button{
  padding: 6px 40px;
  border: 2px solid #8ec6fb;
  background: none;
  margin-top: 10px;
  cursor: pointer;
  color:#c8dff4;
  transition: all 0.25s;
  text-align: center;
   
  
  
}
.content button:hover{
  border-color: #ff852e;
  color:  #42a4ff;
  box-shadow: 0 0.5em 0.5em -0.4em  #ff852e;;
   transform: translateY(-0.25em);
  border-radius: 10px;
}
.intro{
  margin-top: 5px;
  text-align: center;
  margin-bottom: 20px;
}
.refrence a{
   text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  padding: 5px 15px;
  font-weight: italic;
  transition: 0.3s;
  color: white;
}
.refrence a:hover{
  color: red;
}
.contentvideos{
  text-align: center;
  border: 40px;
  border-color: white;
}
.websitesForInformation a{
   text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  padding: 5px 15px;
  font-weight: italic;
  transition: 0.3s;
  color: white;
  text-decoration: underline;
}
.websitesForInformation a:hover{
  color: red;
}


